*
!.dockerignore
!.streamlit/
!.streamlit/**
!config.yaml
!pyproject.toml
!uv.lock
!feature_repo/
!feature_repo/**
!src/
!src/**
!ui/
!ui/**
!containers/
!containers/**
!grafana_work/etc/
!grafana_work/etc/**
!grafana_work/dashboards/
!grafana_work/dashboards/**
