# GCP
GCP_PROJECT_ID=your-gcp-project
GCP_LOCATION=europe-west1
GCP_BUCKET_NAME=foehncast-data
GOOGLE_APPLICATION_CREDENTIALS=keys/service-account.json

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Airflow
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false
